html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100dvh;
	background-color: black;
	color: white;
	font-family: sans-serif;
	overscroll-behavior: none;
}

canvas {
	width: 100%;
	aspect-ratio: 16/9;
	image-rendering: pixelated;
}

#gui {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1rem;
	gap: 1rem;
}

#gui-controls {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

.row {
	display: flex;
	justify-content: space-between;
	gap: 1rem;
}

#gui-uniforms {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
}

#gui-uniforms input {
	max-width: 10rem;
}

#gui-resolution-input {
	width: 6rem;
}