html, body {
	margin: 0px;
	padding: 0px;
	width: 100%;
	height: 100dvh;
	background-color: black;
	color: white;
	font-family: sans-serif;
	overscroll-behavior: none;
	overflow: hidden;
}

body {
	display: flex;
	flex-direction: column;
}

#canvas {
	width: 100dvw;
	height: auto;
	aspect-ratio: 16/9;
	image-rendering: pixelated;
}

#gui {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	margin: 1rem;
	gap: 1rem;
	overflow: auto;
}

#gui-controls {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: 20rem;
}

.row {
	display: flex;
	gap: 0.25rem;
}

.row span {
	white-space: nowrap;
}

.row>*:first-child {
	margin-right: auto;
	padding-right: 1rem;
}

#gui-uniforms {
	display: flex;
	flex-direction: column;
	gap: 0.25rem;
	width: 20rem;
}

#gui-uniforms input {
	max-width: 10rem;
}

#gui-resolution-input-x, #gui-resolution-input-y {
	width: 3rem;
}

@media only screen and (min-aspect-ratio: 3/2) {
	body {
		flex-direction: row;
		width: 100dvw;
		height: auto;
	}

	#canvas {
		width: calc(100dvw - 22rem);
		height: auto;
	}

	#gui {
		flex-direction: column;
		width: 20rem;
	}
}